h1 {
  color: blueviolet;
}

img {
  width: 400px;
  height: 500px;
}

#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: burlywood;
  margin: 20px;
  padding: 50px;
  border: 10px dotted brown;
}

#spanId {
  font-size: 25px;
  margin: 50px;
}